@charset "utf-8";
html, body{
    height:100%;
}
body{
    overflow-x:hidden;
    cursor:none; 
}

/* 마우스 이미지 */
.mouse{
    position: absolute;
    top:0;
    left:0;
    width:65px;
    height:65px;
    /* z-index:1000; */
}



/*오른쪽 페이저*/
.pager{
    position:fixed;
    top:50%;
    left:50%;
    transform:translateY(-50%);
    margin-left:650px;
}
.pager span{
}



/*상단 페이저*/
.pager.top{
    top:65px;
    width:950px;
    transform:translate(-50%, 0);
    margin-left:0;
    z-index:600
}
.pager.top span{
    opacity:1;
    background-color:#fff;
    float:left;
    margin:0 30px;
    border-radius:0;
    height:22px;
    background-repeat:no-repeat;
}
.pager.top span:nth-child(1){
    width:75px;
    background-image:url(../img/gnb1.png);
}
.pager.top span:nth-child(2){
    width:88px;
    background-image:url(../img/gnb2.png);
}
.pager.top span:nth-child(3){
    width:58px;
    background-image:url(../img/gnb3.png);
}
.pager.top span:nth-child(4){
    width:57px;
    background-image:url(../img/gnb4.png);
}
.pager.top span:nth-child(5){
    width:49px;
    background-image:url(../img/gnb5.png);
}
.pager.top span:nth-child(6){
    width:88px;
    background-image:url(../img/gnb6.png);
}
.pager.top span:nth-child(7){
    width:115px;
    background-image:url(../img/gnb7.png);
}

/* 호버시 */
.pager.top span:nth-child(1):hover{
    width:75px;
    background-image:url(../img/gnb1_on.png);
}
.pager.top span:nth-child(2):hover{
    width:88px;
    background-image:url(../img/gnb2_on.png);
}
.pager.top span:nth-child(3):hover{
    width:58px;
    background-image:url(../img/gnb3_on.png);
}
.pager.top span:nth-child(4):hover{
    width:57px;
    background-image:url(../img/gnb4_on.png);
}
.pager.top span:nth-child(5):hover{
    width:49px;
    background-image:url(../img/gnb5_on.png);
}
.pager.top span:nth-child(6):hover{
    width:88px;
    background-image:url(../img/gnb6_on.png);
}
.pager.top span:nth-child(7):hover{
    width:115px;
    background-image:url(../img/gnb7_on.png);
}

.pager.top .swiper-pagination-bullet-active{
    transform:none;
    background-color:#fff;
}



/* 헤더 영역  ----------------------------------------- */
#header{
    width:100%;
    height:150px;
    background:#fff;
    position:absolute;
    top:0;
    left:0;
    z-index:500;
}
#headerIn{
}
.logo{
    position:absolute;
    top:50%;
    left:98px;
    transform:translateY(-50%);
}
.logo a{
    color:#5d8e57;
    font-size:40px;
}
.gnb{
    position:absolute;
    top:50%;
    right:264px;
    transform:translateY(-50%);
    
}
.gnb ul{
    display:-webkit-flex;
    display:flex;
}
.gnb ul li{
    margin-right:31px;
    padding-right:31px;
}

.gnb ul li:last-child{
    margin-right:0;
    padding-right:0;
}

.gnb ul li a{
    font-size:27px;
    font-weight:bold;
}

.gnb ul li:hover a{
    color:#5d8e57;
}



/* 햄버거 메뉴 */

nav{
    width:48px;
    position:absolute;
    top:50%;
    right:98px;
    transform:translateY(-50%);
    cursor:pointer;
}

i{
    display:block;
    height:5px;
    background:#5d8e57;
    margin-top:10px;
    position:relative;
    border-radius:10px;
/*
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);*/
}
i:first-child{
    margin-top:0;
}

nav:hover i{
    background:#fff
}

i:after{
    content:"";
    width:0%;
    height:100%;
    background:#5d8e57;
    position:absolute;
    transition: 0.5s;
    border-radius:10px;
}

nav i:nth-child(2):after{
    transition-delay:0.3s;
}
nav i:nth-child(1):after{
    transition-delay:0.2s;
}

nav:hover i:after{
    width:100%;
}




/*본문영역 ----------------------------------------- */
#container{
    width:100%;
    height:100%;
}
#container section .inner{
    width: 1100px;
    margin: 0 auto 0;
    /* position: absolute; */
    /* top: 118px; */
    /* left: 50%; */
    /* transform: translateX(-50%);*/
}





/* 표지 구간  ----------------------------------------- */
.intro{
    width:100%;
    height:925px;
    position:relative;
    overflow:hidden;
}
.intro .inner{
    background:#fff;
}

.intro .inner .title{
    font-size: 100px;
    line-height: 1em;
    font-weight: bold;
    color: #31672b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

/* 양쪽 풀 */
.intro .grassOne{
    display:-webkit-flex;
    display:flex;
}
.intro .grassOne img{
    transform:scale(0.8);
}
.intro .grassOne .oR{
    position:absolute; 
    top:-200px;
    right:-300px;
    animation:g1 15s linear infinite;
    transform-origin:top;
}
.intro .grassOne .oL{
    position:absolute; 
    bottom: -32%;
    left: -18%;
    animation:g1 15s linear infinite;
    transform-origin:bottom;
}
/* 애니메이션 효과 */
@keyframes g1{
    0%{
        transform:rotateZ(10deg);
    }
    25%{
        transform:rotateZ(30deg);
    }
    50%{
        transform:rotateZ(10deg);
    }
    75%{
        transform:rotateZ(30deg);
    }
    100%{
        transform:rotateZ(10deg);
    }
}





/* 자기소개 구간  ----------------------------------------- */
.introduce{
    position:relative;
    height: 880px;
    margin-top: 7%;
}


.introduce .inner{
    position:relative;
}
.introduce .inner .back{
    text-indent: -9999px;
    width: 1100px;
    height: 720px;
    /* padding-bottom: 66%; */
    /* background: url(../img/cont1bg.png) no-repeat; */
    position: relative;
}
.introduce .inner .back span{
    position:absolute;
    display: block;
    width: 95%;
    height: 100%;
    top:0;
    left:0;
}
.introduce .inner .back span:first-child{
    background: #b3d6a4;
}
.introduce .inner .back span:last-child{
    background: #fbfeeb ;
    top:5%;
    left:4%;
}
.introduce .inner .bg{
    position:absolute;
    top:0;
    left:0;
    color:#2d452a;
    width: 100%;
    height: 100%;
}


.introduce .inner .bg .title{
    padding-top: 84px;
    /* margin-left: 53px; */
    width: 100%;
    margin: 0 auto;
    font-size: 3.3em;
    font-weight: bold;
    text-align: center;
}
.introduce .inner .bg .writeBox{
    width: 834px;
    margin: 7% auto 0;
}

.introduce .inner .bg .writeBox .left{
    width: 29%;
    text-align: center;
   /*  font-weight:bold; */
    float:left;
    margin-right: 185px;
}

.introduce .inner .bg .writeBox .left p{
    font-size:23px;
    margin-bottom:16px;
}

.introduce .inner .bg .writeBox .left .photo{
    /* width: 79%;
    padding-bottom: 75%; */
    /* background-image: url(../img/me.png); */
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin-left: -13px;
}
.introduce .inner .bg .writeBox .left .photoCover{
    text-indent: -9999px;
    width: 26%;
    padding-bottom: 26%;
    background-image: url(../img/cont1me.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 76px;
    left: -10px;
}
.introduce .inner .bg .writeBox .right{
    /* position: absolute;
    top: 22%;
    right: 9%; */
    width: 388px;
    height: 400px;
    border-top: 19px solid #9cbd9c;
    border-right: 19px solid #9cbd9c;
    font-size: 20px;
    float:left;
}

.introduce .inner .bg .writeBox .left .name{
    margin-top: 55px;
}
.introduce .inner .bg .writeBox .right .box{
    position: relative;
}
.introduce .inner .bg .writeBox .right .box .school,
.introduce .inner .bg .writeBox .right .box .work{
    margin-bottom:45px;
}
.introduce .inner .bg .writeBox .right .box .school li,
.introduce .inner .bg .writeBox .right .box .work li{
    margin-bottom:19px;
}
.introduce .inner .bg .writeBox .right .box .school li p,
.introduce .inner .bg .writeBox .right .box .work li p{
    margin-bottom:7px;
}
.introduce .inner .bg .writeBox .right .box .school{
    margin-top:15px;
}

.introduce .inner .bg .keyword{
    display: -webkit- flex;
    display: flex;
}
.introduce .inner .bg .keyword p{
    text-indent:-9999px;
}
.introduce .inner .bg .keyword li{
    width:118px;
    height:34px;
    position:relative;
    margin-left:15px;
}
.introduce .inner .bg .keyword li:first-child{
    margin-left:0;
}
.introduce .inner .bg .keyword li p{
    width:112px;
    height:28px;
    position:absolute;
}
.introduce .inner .bg .keyword li p:nth-child(1){
    background:#d3e3d3;
    top:0;
    right:0;
}
.introduce .inner .bg .keyword li p:nth-child(2){
    background:#456342;
    bottom:0;
    left:0;
}
.introduce .inner .bg .keyword li span{
    position:absolute;
    top:10px;
    left: 50%;
    transform: translateX(-50%);
    font-size:23px;
    color:#fff;
}

/* .introduce .inner .bg .keyword li:last-child span{
    left:25px;
} */

.introduce .grassFlower{
    width: 406px;
    height: 346px;
    position: absolute;
    bottom: -201px;
    right: -450px;
    animation: flower 80s linear infinite;
    transform-origin: 40% 40%;
    z-index: 300;
}

@keyframes flower{
    0%{}
    100%{
        transform:rotate(360deg)}
}


/* 스킬 구간  -----------------------------------------  */

.skill_list{}
.skill_list h2{
    font-size:4em;
    font-weight:bold;
    color:#5d8e57;
    text-align:center;
    margin:4% 0;
}
.skill_list .inner{
    position:relative;
}
.skill_list .inner ul{
}
.skill_list .inner ul li {
    width: 11.81818181%;
    position: absolute;
    z-index:1;
}
.skill_list .inner ul li:after{
    content:"";
    display:block;
    padding-bottom:100%;
}
.skill_list .inner ul li div{
    position:absolute;
    width:100%;
    height:100%;
}
.skill_list .inner ul li div img{
    width:100%;
    height:100%;
}
/* 스킬 열매 */
.skill_list .inner ul .fruit1{
    top: 3%;
    left: 27%;
}
.skill_list .inner ul .fruit2{
    top: 5%;
    left: 43%;
}
.skill_list .inner ul .fruit3{
    top: 17%;
    left: 12%;
}
.skill_list .inner ul .fruit4{
    top: 21%;
    left: 28%;
}
.skill_list .inner ul .fruit5{
    top: 25%;
    left: 47%;
}
.skill_list .inner ul .fruit6{
    top: 17%;
    right: 23%;
}
.skill_list .inner ul .fruit7{
    top: 34%;
    left: 5%;
}
.skill_list .inner ul .fruit8{
    top: 38%;
    left: 23%;
}
.skill_list .inner ul .fruit9{
    top: 41%;
    left: 40%;
}
.skill_list .inner ul .fruit10{
    top: 34%;
    right: 27%;
}
.skill_list .inner ul .fruit11{
    top: 56%;
    left: 18%;
}
.skill_list .inner ul .fruit12{
    top: 60%;
    left: 40%;
}
.skill_list .inner ul .fruit13{
    top: 51%;
    right: 26%;
}
.skill_list .inner ul .fruit14{
    top: 34%;
    right: 9%;
}

.skill_list .inner ul li .icon{}
.skill_list .inner ul li .icon img{}

.skill_list .inner .big_tree{
    opacity:.5;
}

.skill_list .inner .big_tree img{
    width:100%;
}











/* 스킬 구간2  -----------------------------------------  */

.skill{
    height:925px;
    overflow:hidden;
}

.skill .whiteFlower{}

.skill .inner{
    position: relative;
    height: 100%;
}

.skill .inner ul{
}
.skill .inner ul li{
    margin-bottom:67px;
}

.skill .inner .title{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.skill .inner .bar{
    position:absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
    text-indent:-9999px;
}
.skill .inner .title li{
    text-align:right;
    font-size:45px;
    font-weight:bold;
    line-height:1em;
    position:relative;
}
.skill .inner .bar li{
    
    height:45px;
    background:#5d8e57;
}
.skill:hover .inner .bar li{
    transition:all 2s;
}
.skill .inner .bar li:nth-child(1),
.skill .inner .bar li:nth-child(2),
.skill .inner .bar li:nth-child(4),
.skill .inner .bar li:nth-child(6){
    width:700px;
}
.skill .inner .bar li:nth-child(5){
    width:600px;
}
.skill .inner .bar li:nth-child(3){
    width:550px;
}
/* .skill:hover .inner .bar li:nth-child(1),
.skill:hover .inner .bar li:nth-child(2),
.skill:hover .inner .bar li:nth-child(4),
.skill:hover .inner .bar li:nth-child(6){
    width:700px;
}
.skill:hover .inner .bar li:nth-child(5){
    width:600px;
}
.skill:hover .inner .bar li:nth-child(3){
    width:550px;
} */



/* 양쪽 꽃 */
.skill .whiteFlower{
}
.skill .whiteFlower .flowerR{
    width:708px;
    height:468px;
    background:url(../img/whiteflowerR.png) no-repeat;
    position:absolute;
    top:200px;
    right:-270px;
    z-index:500;
    animation:wind 30s linear infinite;
    transform-origin:right;
}
.skill .whiteFlower .flowerL{
    width:100%;
    height:auto;
    /* background:url(../img/whiteflowerL.png) no-repeat; */
    position:absolute;
    bottom: -6%;
    left: -40%;
    z-index:500;
    animation:wind 30s linear infinite;
    transform-origin:bottom;
}

@keyframes wind{
    0%{
        transform:rotateZ(5deg);
    }
    25%{
        transform:rotateZ(10deg);
    }
    50%{
        transform:rotateZ(5deg);
    }
    75%{
        transform:rotateZ(10deg);
    }
    100%{
        transform:rotateZ(5deg);
    }
}




/* 워크리스트 구간  -----------------------------------------  */

.work_list{
   /*  margin-top: 9%; */
}
.work_list .inner{
    width:1100px;
}
.work_list h2{
    font-size:2em;
    text-align:center;
    background:rgba(84 113 83);
    color:#fff;
    padding:3% 0;

}

.tab_menu{
    width:100%;
}
.tab_menu ul{}
.tab_menu ul li{
    background:#fff;
}
.tab_menu ul .tab_btn{
    width:100%;
    text-align:center;
}
.tab_menu input{
    display:none;
}
.tab_menu ul .tab_btn label{
    display:block;
    width:100%;
    font-size: 1.5em;
    padding: 3% 0;
    color:#fff;
    overflow:hidden;
    cursor:pointer;
}

/* 첫 번째 라벨 */
.tab_menu ul .tab_btn .tab1_btn, 
.tab_menu ul .tab_btn .tab6_btn, 
.tab_menu ul .tab_btn .tab12_btn{
    background:rgba(97 136 94)
}
.tab_menu ul .tab_btn:hover .tab1_btn,
.tab_menu ul .tab_btn:hover .tab6_btn,
.tab_menu ul .tab_btn:hover .tab12_btn{
    background:rgba(108 128 177);
}

/* 두 번째 라벨 */
.tab_menu ul .tab_btn .tab2_btn,
.tab_menu ul .tab_btn .tab7_btn,
.tab_menu ul .tab_btn .tab13_btn{
    background:rgba(121 167 119)
}
.tab_menu ul .tab_btn:hover .tab2_btn,
.tab_menu ul .tab_btn:hover .tab7_btn,
.tab_menu ul .tab_btn:hover .tab13_btn{
    background: rgba(122 139 179);
}

/* 세 번째 라벨 */
.tab_menu ul .tab_btn .tab3_btn, 
.tab_menu ul .tab_btn .tab8_btn, 
.tab_menu ul .tab_btn .tab14_btn{
    background:rgba(135 179 134)
}
.tab_menu ul .tab_btn:hover .tab3_btn, 
.tab_menu ul .tab_btn:hover .tab8_btn, 
.tab_menu ul .tab_btn:hover .tab14_btn{
    background:rgba(134 147 177);
}

/* 네 번째 라벨 */
.tab_menu ul .tab_btn .tab4_btn, 
.tab_menu ul .tab_btn .tab9_btn, 
.tab_menu ul .tab_btn .tab15_btn{
    background:rgba(148 191 147);
}
.tab_menu ul .tab_btn:hover  .tab4_btn, 
.tab_menu ul .tab_btn:hover  .tab9_btn, 
.tab_menu ul .tab_btn:hover  .tab15_btn{
    background:rgba(147 156 179);
}

/* 다섯 번째 라벨 */
.tab_menu ul .tab_btn .tab5_btn, 
.tab_menu ul .tab_btn .tab10_btn, 
.tab_menu ul .tab_btn .tab16_btn{
    background:rgba(155 183 153);
}
.tab_menu ul .tab_btn:hover .tab5_btn, 
.tab_menu ul .tab_btn:hover .tab10_btn, 
.tab_menu ul .tab_btn:hover .tab16_btn{
    background:rgba(158 165 183);
}

/* 여섯 번째 라벨 */
.tab_menu ul .tab_btn .tab11_btn{
    background:rgba(170 195 168);
}
.tab_menu ul .tab_btn:hover .tab11_btn{
    background:rgba(169 174 185);
}


/* 탭 클릭시 라벨 디자인 -----------------*/

/* 첫 번째 라벨 디자인 */
.tab_menu ul .tab_btn input:checked + .tab1_btn, 
.tab_menu ul .tab_btn input:checked + .tab6_btn, 
.tab_menu ul .tab_btn input:checked + .tab12_btn{
    background:rgba(108 128 177);
} 

/* 두 번째 라벨 디자인 */
.tab_menu ul .tab_btn input:checked + .tab2_btn, 
.tab_menu ul .tab_btn input:checked + .tab7_btn, 
.tab_menu ul .tab_btn input:checked + .tab13_btn{
    background: rgba(122 139 179);
} 

/* 세 번째 라벨 디자인 */
.tab_menu ul .tab_btn input:checked + .tab3_btn, 
.tab_menu ul .tab_btn input:checked + .tab8_btn, 
.tab_menu ul .tab_btn input:checked + .tab14_btn{
    background:rgba(134 147 177);
} 

/* 네 번째 라벨 디자인 */
.tab_menu ul .tab_btn input:checked + .tab4_btn, 
.tab_menu ul .tab_btn input:checked + .tab9_btn, 
.tab_menu ul .tab_btn input:checked + .tab15_btn{
    background:rgba(147 156 179);
} 

/* 다섯 번째 라벨 디자인 */
.tab_menu ul .tab_btn input:checked + .tab5_btn, 
.tab_menu ul .tab_btn input:checked + .tab10_btn, 
.tab_menu ul .tab_btn input:checked + .tab16_btn{
    background:rgba(158 165 183);
} 

/* 여섯 번째 라벨 디자인 */
.tab_menu ul .tab_btn input:checked + .tab11_btn{
    background:rgba(169 174 185);
} 

.tab_menu ul .tab_btn input:checked + .tab_click{

}


/* 컨텐츠 디자인 */
.tab_menu ul .tab_btn .cont{
    height:0;
    /* padding:1% 0; */
    background:#fff;
}
.tab_menu ul .tab_btn .cont .go_now{
    width:40%;
    margin:0 auto;
    /* margin-bottom:1%; */
}


/* 펜션 바로가기 버튼색 */
.tab_menu .pension .tab_btn .cont .go_now a{
    background:#9e5050;
}
.tab_menu .pension .tab_btn .cont .go_now a:hover{
    background:#8a3131;
    transition:all .3s;
}


/* 회사 바로가기 버튼색 */
.tab_menu .company .tab_btn .cont .go_now a{
    background:#506b9e;
}
.tab_menu .company .tab_btn .cont .go_now a:hover{
    background:#2e4f8e;
    transition:all .3s;
}


/* 서브페이지 바로가기 버튼색 */
.tab_menu .mobile .tab_btn .cont .go_now a{
    background:#a56db3;
}
.tab_menu .mobile .tab_btn .cont .go_now a:hover {
    background:#8e5e9a;
    transition:all .3s;
}
.tab_menu ul .tab_btn .cont .go_now a{
    display:none;
    width:100%;
    padding:4% 0;
    margin: 78% 0 4%;
    /* margin: 4% 0; */
    color:#fff;
    font-weight:bold;
    border-radius:10px;
    font-size:1.5em;
}
.tab_menu ul .tab_btn .cont .inner2{
    width: 29%;
    padding: 1% 1% 0% 6%;
    margin: 0 auto;
    background: #fff;
    text-align: left;
}
.tab_menu ul .tab_btn .cont .inner2 span{
    display:none;
    font-size: 1.3em;
    line-height: 1.5em;
}

/* 웹사이트 이미지 */
.tab_menu ul .tab_btn .cont .safari{
    display:none;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
}
/* 모바일 이미지 */
.tab_menu ul .tab_btn .cont .moblie{
    display:none;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
}


/* 벚꽃줄기 이미지 */
.tab_menu ul .tab_btn .cont .pink_flower{
    display:none;
    position: absolute;
    top: 0px;
    right: 0;
    z-index: -1;
    animation:pink 12s linear infinite;
    transform-origin:top;
}
/* 벚꽂줄기 애니메이션 */
@keyframes pink{
    0%{
        transform:rotateZ(0deg);
    }
    25%{
        transform:rotateZ(5deg);
    }
    50%{
        transform:rotateZ(0deg);
    }
    75%{
        transform:rotateZ(5deg);
    }
    100%{
        transform:rotateZ(0deg);
    }
}



/* 핑크색 꽃 이미지 */
.tab_menu ul .tab_btn .cont .pink_flower2{
    display:none;
    position: absolute;
    bottom: 0;
    left: 5%;
    animation:pink2 9s linear infinite;
    transform-origin:bottom;
}

/* 핑크색 꽃 애니메이션 */
@keyframes pink2{
    0%{
        transform:rotateZ(15deg);
    }
    25%{
        transform:rotateZ(20deg);
    }
    50%{
        transform:rotateZ(15deg);
    }
    75%{
        transform:rotateZ(20deg);
    }
    100%{
        transform:rotateZ(15deg);
    }
}



/* 왼쪽 나비 이미지 */
.tab_menu ul .tab_btn .cont .butterfly1{
    display:none;
    position: absolute;
    top: 23%;
    left: 6%;
    animation:but1 5s linear infinite;
    transform-origin:top;
}
/* 왼쪽 나비 애니메이션 */
@keyframes but1{
    0%{
        transform:translateY(-10%);
    }
    25%{
        transform:rotateZ(5deg);
    }
    50%{
        transform:translateY(10%);
    }
    75%{
        transform:rotateZ(5deg);
    }
    100%{
        transform:translateY(-10%);
    }
}


/* 오른쪽 나비 이미지 */
.tab_menu ul .tab_btn .cont .butterfly2{
    display:none;
    position: absolute;
    bottom: 11%;
    right: 8%;
    animation:but2 5s linear infinite;
    transform-origin:top;
}
/* 오른쪽 나비 애니메이션 */
@keyframes but2{
    0%{
        transform:translateY(10%);
    }
    25%{
        transform:rotateZ(5deg);
    }
    50%{
        transform:translateY(-10%);
    }
    75%{
        transform:rotateZ(5deg);
    }
    100%{
        transform:translateY(10%);
    }
}




/* 왼쪽 나뭇잎 이미지 */
.tab_menu ul .tab_btn .cont .grass1{
    display:none;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: gra1 15s linear infinite;
    transform-origin: left;
}
/* 오른쪽 나뭇잎 이미지 */
.tab_menu ul .tab_btn .cont .grass2{
    display:none;
    position: absolute;
    top: 12%;
    right: 0;
    z-index: -1;
    animation:gra1 15s linear infinite;
    transform-origin:right;
}

/* 양쪽 나뭇잎 애니메이션 */
@keyframes gra1{
    0%{
        transform:rotateZ(-10deg);
    }
    25%{
        transform:rotateZ(2deg);
    }
    50%{
        transform:rotateZ(-10deg);
    }
    75%{
        transform:rotateZ(2deg);
    }
    100%{
        transform:rotateZ(-10deg);
    }
}



/* 보라색 꽃 이미지 */
.tab_menu ul .tab_btn .cont .purple_flower{
    display:none;
    position: absolute;
    bottom: -2%;
    right: 1%;
    animation:purple 10s linear infinite;
    transform-origin:bottom;
}

/* 보라색 꽃 애니메이션 */
@keyframes purple{
    0%{
        transform:rotateZ(-10deg);
    }
    25%{
        transform:rotateZ(-15deg);
    }
    50%{
        transform:rotateZ(-10deg);
    }
    75%{
        transform:rotateZ(-15deg);
    }
    100%{
        transform:rotateZ(-10deg);
    }
}




/* 탭 클릭시 컨텐츠---------------------*/

/* 컨텐츠 */
.tab_menu ul .tab_btn input:checked ~ .cont{
    height:229px;
    transition:all .5s;
}

/* 기술내용 */
.tab_menu ul .tab_btn input:checked ~ .cont .inner2 span{
    display:block;
}

/* 바로가기 버튼 */
.tab_menu ul .tab_btn input:checked ~ .cont .go_now a{
    display:block;
}

/* 웹사이트 이미지 */
.tab_menu ul .tab_btn input:checked ~ .cont .safari{
    display:block;
}
/* 모바일 이미지 */
.tab_menu ul .tab_btn input:checked ~ .cont .moblie{
    display:block;
}

/* 벚꽃 줄기 이미지 */
.tab_menu ul .tab_btn input:checked ~ .cont .pink_flower{
    display:block;
}

/* 핑크색 꽃 이미지 */
.tab_menu ul .tab_btn input:checked ~ .cont .pink_flower2{
    display:block;
}

/* 왼쪽 나비 이미지 */
.tab_menu ul .tab_btn input:checked ~ .cont .butterfly1{
    display:block;
}

/* 오른쪽 나비 이미지 */
.tab_menu ul .tab_btn input:checked ~ .cont .butterfly2{
    display:block;
}

/* 왼쪽 나뭇잎 이미지 */
.tab_menu ul .tab_btn input:checked ~ .cont .grass1{
    display:block;
}
/* 오른쪽 나뭇잎 이미지 */
.tab_menu ul .tab_btn input:checked ~ .cont .grass2{
    display:block;
}

/* 보라색 꽃 이미지 */
.tab_menu ul .tab_btn input:checked ~ .cont .purple_flower{
    display:block;
}


/* 닫기 버튼 디자인 */
.closeinput{
    display:none;
}
.closer_btn{    
    position:fixed;
    top:0;
    right:0;
    display:inline-block;
    width:50px;
    height:50px;
    background:rgb(112, 148, 105);
    color:#fff;
    cursor:pointer;
}
.closer_btn p{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.closer_btn span{
    display:block;
    width:25px;
    height:1px;
    background:#fff;
    text-indent:-9999px;
}


/* 닫기버튼 클릭시 디자인 */
.tab_menu ul .tab_btn input:checked + .closer_click{

}

.tab_menu .close:checked ~ .cont{
    height:0;
    transition: all .5s;
}




/* 탭메뉴 때문에 넣은 임시 높이 */
.height{
    height:200px
}


/* --------------------------미디어쿼리---------------------------- */


@media screen and (max-width:1650px){


    /* 인트로 나뭇잎 이미지 */
    .intro .grassOne img {
        transform: scale(0.7);   
    }
    .intro .grassOne .oL {
        left: -26%;
    }  
    .intro .grassOne .oR {
        position: absolute;
        top: -200px;
        right: -380px;
    }
}

@media screen and (max-width:1450px){
    /* 인트로 높이 */
    .intro {
        height: 803px;
    }
    /* 인트로 나뭇잎 이미지 */
    .intro .grassOne img {
        transform: scale(0.5);   
    }
    .intro .grassOne .oL {
        left: -34%;
        bottom: -41%;
    }
    .intro .grassOne .oR {
        right: -450px;
    }
}

@media screen and (max-width: 1250px){
    /* 인트로 높이 */
    .intro {
        height: 758px;
    }
    /* 인트로 나뭇잎 이미지 */
    .intro .grassOne img {
        transform: scale(0.4);
    }
    .intro .grassOne .oR {
        right: -41%;
        top: -36%;
        animation:g1 8s linear infinite;
    }
    .intro .grassOne .oL {
        left: -40%;
        bottom: -58%;
        animation:g1 8s linear infinite;
    }

    /* 인트로 애니메이션 효과 */
@keyframes g1{
        0%{
            transform:rotateZ(15deg);
        }
        25%{
            transform:rotateZ(20deg);
        }
        50%{
            transform:rotateZ(15deg);
        }
        75%{
            transform:rotateZ(20deg);
        }
        100%{
            transform:rotateZ(15deg);
        }
    }

    /* 인트로듀스(컨트1) 이미지 */
    .introduce .grassFlower{
        bottom: -200px;
        right: -330px;
    }
    .introduce .grassFlower img{
        width:74%;
    }

    /* 스킬 꽃 */
    .skill .whiteFlower .flowerL {
        left: -10%;
    }
    .skill .whiteFlower .flowerL img{
        width: 32%;
    }
}

@media screen and (max-width:1100px) {
    /* 컨테이너 너비 */
    #container{
        width:100%;
    }
    /* 컨테이너 이너 너비 */
    #container section .inner{
        width:100%;
    }
    /* 인트로듀스 높이 */
    .introduce {
        height: 820px;
    }
    /* 인트로듀스 이너 너비 */
    .introduce .inner .back {
        width: 100%;
    }
    /* 인트로듀스(컨트1) 라이트박스 */
    .introduce .inner .bg .writeBox {
        width: 775px;
    }
    .introduce .inner .bg .writeBox .left {
        margin-right: 143px;
    }
    .introduce .grassFlower {
        display:none;
    }

    /* 스킬 이너 너비 */
    .skill{
        width:100%;
        height: 700px;
    }
    .skill .inner .back {
        width: 100%;
    }
    .skill .inner .bar li {
        height: 25px;
    }
    .skill .inner .title li {
        font-size: 25px;
    }
    /* 스킬 타이틀 위치 */
    .skill .inner .title {
        left: 19%;
    }
    /* 스킬 바 전체 */
    .skill .inner .bar {
        width: 50%;
        left: 41%;
    }
    /* 스킬 바 길이 */
    .skill .inner .bar li:nth-child(1), 
    .skill .inner .bar li:nth-child(2), 
    .skill .inner .bar li:nth-child(4), 
    .skill .inner .bar li:nth-child(6) {
        width: 83%;
    }
    .skill .inner .bar li:nth-child(5){
        width: 62%;
    }
    .skill .inner .bar li:nth-child(3) {
        width: 64%;
    }


    

    /* 탭메뉴 벚꽃 이미지 */
    .tab_menu ul .tab_btn .cont .pink_flower {
        right: -3%;
    }
    .tab_menu ul .tab_btn .cont .pink_flower img{
        width:84%;
    }

    /* 사파리 이미지 */
    .tab_menu ul .tab_btn .cont .safari img{
        width:77%
    }
    /* 모바일 이미지 */
    .tab_menu ul .tab_btn .cont .moblie img{
        width:77%
    }
}

@media screen and (max-width: 1000px){
    /* 헤더 높이 */
    #header {
        height: 60px;
    }
    
    /* 로고 위치 */
    .logo {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /* 햄버거메뉴 */
    nav {
        width: 32px;
        right: 98px;
        right: 5%;
    }
    i {
        height: 2px;
        margin-top: 7px;
    }

    /* 인트로 높이 */
    .intro {
        height: 659px;
    }
    /* 인트로 타이틀 폰트크키 */
    .intro .inner .title {
        font-size: 5rem;
    }
    /* 인트로 나뭇잎 이미지*/
    .intro .grassOne .oR {
        right: -50%;
        top: -56%;
    }
    .intro .grassOne .oL {
        left: -51%;
        bottom: -65%;
    }
    /* 인트로듀스 타이틀 */
    .introduce .inner .bg .title {
        font-size: 3em;
    }
    /* 스킬 타이틀 */
    .skill .inner .title {
        left: 16%;
    }
    /* 스킬 바 */
    .skill .inner .bar {
        left: 43%;
    }


}

@media screen and (max-width: 900px){
    /* 인트로 높이 */
    .intro {
        height: 556px;
    }
    /* 인트로 나뭇잎 이미지*/
    .intro .grassOne .oR {
        right: -59%;
        top: -72%;
    }
    .intro .grassOne .oL {
        left: -59%;
        bottom: -84%;
    }
    .intro .grassOne img {
        transform: scale(0.3);
    }
    /* 인트로듀스 마진탑 수정 */
    .introduce {
        margin-top:0;
        height: 1266px;
    }
    /* 인트로듀스 배경 높이*/
    .introduce .inner .back {
        height:1200px;
    }
    /* 인트로듀스 연두색 배경 탑 */
    .introduce .inner .back span:last-child {
        top: 3%;
        left: 5.5%;
    }
    /* 인트로듀스 총 박스 */
    .introduce .inner .bg .writeBox {
        width: 100%;
    }
    /* 인트로듀스 왼쪽 박스 */
    .introduce .inner .bg .writeBox .left {
        width: 100%;
        float:none;
    }
    /* 인트로듀스 오른쪽 박스 */
    .introduce .inner .bg .writeBox .right {
        margin: 6% auto 0;
        border-right: none;
        float: none;
    }


    /* 탭메뉴 바로가기 */
    .tab_menu ul .tab_btn .cont .go_now a {
        font-size: 1.3em;
    }
    /* 탭메뉴 기술 내용 */
    .tab_menu ul .tab_btn .cont .inner2 {
        width: 32%;
        padding: 1% 1% 0% 2%;
    }
    
    /* 탭메뉴 벚꽃 이미지 */
    .tab_menu ul .tab_btn .cont .pink_flower {
        right: -7%;
    }
    .tab_menu ul .tab_btn .cont .pink_flower img{
        width:65%;
    }
    /* 탭메뉴 모든 이미지 사이즈 */
    .tab_menu ul .tab_btn .cont img{
        width:77%;
    }
    /* 탭메뉴 양쪽 나뭇잎 이미지 */
    .tab_menu ul .tab_btn .cont .grass1{
        left:-3%;
    }
    .tab_menu ul .tab_btn .cont .grass2{
        right:-4%;
    }
}

@media screen and (max-width: 850px){
    /* 탭메뉴 사파리 이미지 */
    .tab_menu ul .tab_btn .cont .moblie img {
        width: 69%;
    }
}
@media screen and (max-width: 768px){
    /* 인트로 높이 */
    .intro {
        height: 467px;
    }
    /* 인트로 타이틀 폰트 크기 */
    .intro .inner .title {
        font-size: 4rem;
    }
    /* 인트로 나뭇잎 이미지*/
    .intro .grassOne .oR {
        right: -70%;
        top: -87%;
    }
    .intro .grassOne .oL {
        left: -70%;
        bottom: -102%;
    }

    /* 스킬 타이틀 */
    .skill .inner .title li {
        font-size: 20px;
    }
    /* 스킬 바 */
    .skill .inner .bar li {
        height: 20px;
    }
    /* 스킬 꽃 위치 */
    .skill .whiteFlower .flowerL {
        bottom: 5%;
    }

    /* 경력 탭메뉴 제목 폰트 */
    .top_title h2 {
        font-size: 1.5em;
    }

    /* 탭메뉴 컨텐츠 높이 */
    .tab_menu ul .tab_btn input:checked ~ .cont {
        height: 191px;
    }
    /* 탭메뉴 기술 폰트 사이즈 */
    .tab_menu ul .tab_btn .cont .inner2 span {
        font-size: 1.1em;
    }
    /* 탭메뉴 모든 이미지 */
    .tab_menu ul .tab_btn .cont img {
        width: 70%;
    }
    /* 탭메뉴 모바일 이미지 */
    .tab_menu ul .tab_btn .cont .safari img {
        width: 76%;
    }
    /* 탭메뉴 모바일 이미지 */
    .tab_menu ul .tab_btn .cont .moblie img {
        width: 59%;
    }
    /* 탭메뉴 핑크색 꽃 포지션 */
    .tab_menu ul .tab_btn .cont .pink_flower2 {
        left: -1%;
    }

    /* 탭메뉴 양쪽 나뭇잎 이미지 */
    .tab_menu ul .tab_btn .cont .grass1{
        left:-5%;
    }
    .tab_menu ul .tab_btn .cont .grass2{
        right:-6%;
    }
}

@media screen and (max-width: 658px){
    /* 인트로 높이 */
    .intro {
        height: 368px;
    }
    /* 인트로 타이틀 폰트 크기 */
    .intro .inner .title {
        font-size: 3rem;
    }
    /* 인트로 나뭇잎 이미지*/
    .intro .grassOne .oR {
        right: -85%;
        top: -121%;
    }
    .intro .grassOne .oL {
        left: -87%;
        bottom: -142%;
    }
    .intro .grassOne img {
        transform: scale(0.2);
    }

    /* 인트로듀스 타이틀 폰트크기 */
    .introduce .inner .bg .title {
        font-size: 2.5em;
    }

    
    /* 스킬 바 위치 */
    .skill .inner .title {
        left: 10%;
    }
    .skill .inner .bar {
        left: 45%;
    }



    /* 탭메뉴 바로가기 */
    .tab_menu ul .tab_btn .cont .go_now a {
        font-weight: normal;
    }
    /* 탭메뉴 컨텐츠 내용 너비*/
    .tab_menu ul .tab_btn .cont .inner2 {
        width: 43%;
    }
    /* 탭메뉴 벚꽃 이미지 */
    .tab_menu ul .tab_btn .cont .pink_flower {
        right: -9%;
    }
    .tab_menu ul .tab_btn .cont .pink_flower img {
        width: 52%;
    }
    /* 탭메뉴 모든 이미지 */
    .tab_menu ul .tab_btn .cont img {
        width: 54%;
    }
    /* 탭메뉴 모바일 이미지 */
    .tab_menu ul .tab_btn .cont .moblie img {
        width: 50%;
    }
    /* 탭메뉴 양쪽 나뭇잎 이미지 */
    .tab_menu ul .tab_btn .cont .grass1{
        left:-8%;
    }
    .tab_menu ul .tab_btn .cont .grass2{
        right:-10%;
    }
    /* 탭메뉴 보라색 꽃 */
    .tab_menu ul .tab_btn .cont .purple_flower {
        right: -7%;
    }
}
@media screen and (max-width: 600px){
    /* 탭메뉴 모바일 이미지 */
    .tab_menu ul .tab_btn .cont .moblie img {
        width: 44%;
    }
}
@media screen and (max-width: 500px){
    /* 로고 크기 */
    .logo img {
        transform: scale(.7);
    }
    /* 인트로 높이 */
    .intro {
        height: 344px;
    }
    
    /* 인트로 나뭇잎 이미지*/
    .intro .grassOne .oR {
        right: -121%;
        top: -134%;
    }
    .intro .grassOne .oL {
        left: -123%;
        bottom: -142%;
    }
    .intro .grassOne img {
        transform: scale(0.1);
    }
    /* 인트로듀스 높이 값 */
    .introduce {
        height: 1075px;
    }
    /* 인트로듀스 배경 높이 값 */
    .introduce .inner .back {
        height: 1046px;
    }
    /* 인트로듀스 배경 포지션 값 */
    .introduce .inner .back span:last-child {
        top: 1.5%;
        left: 3.5%;
    }
    /* 인트로듀스 타이틀 */
    .introduce .inner .bg .title {
        font-size: 1.6em;
        padding-top: 12%;
    }
    /* 인트로듀스 왼쪽 전체 폰트 */
    .introduce .inner .bg .writeBox .left p {
        font-size: 1.5em;
    }
    /* 인트로듀스 키워드 전체 폰트 */
    .introduce .inner .bg .keyword li span {
        font-size: 1em;
    }
    /* 인트로듀스 사진 크기 */
    .introduce .inner .bg .writeBox .left .photo img{
        width: 37%;
    }
    /* 인트로듀스 이름 위 마진값 */
    .introduce .inner .bg .writeBox .left .name {
        margin-top: 5%;
    }
    /* 인트로듀스 오른쪽 */
    .introduce .inner .bg .writeBox .right {
        width:60%;
        font-size: 1.2em;
    }
    /* 인트로듀스 키워드 */
    .introduce .inner .bg .keyword li p {
        width: 95%;
    }
    /* 인트로듀스 ul 마진 값 */
    .inner .bg .writeBox .right .box .work {
        margin-bottom: 14%;
    }



    /* 탭메뉴 바로가기 폰트 */
    .tab_menu ul .tab_btn .cont .go_now a {
        font-size: 1.1em;
    }
    /* 탭메뉴 기술 폰트 */
    .tab_menu ul .tab_btn .cont .inner2 span {
        font-size: .9em;
    }
    /* 탭메뉴 벚꽃 이미지 */
    .tab_menu ul .tab_btn .cont .pink_flower {
        right: -19%;
    }
    .tab_menu ul .tab_btn .cont .pink_flower img {
        width: 39%;
    }
    /* 탭메뉴 모든 이미지 */
    .tab_menu ul .tab_btn .cont img {
        width: 37%;
    }
    /* 탭메뉴 분홍색 꽃 이미지 */
    .tab_menu ul .tab_btn .cont .pink_flower2 {
        left: -13%;
    }
    /* 탭메뉴 양쪽 나비 이미지 */
    .tab_menu ul .tab_btn .cont .butterfly1 {
        left: -1%;
    }
    .tab_menu ul .tab_btn .cont .butterfly2 {
        right: -3%;
    }
    /* 탭메뉴 양쪽 나뭇잎 이미지 */
    .tab_menu ul .tab_btn .cont .grass1 {
        left: -14%;
    }
    .tab_menu ul .tab_btn .cont .grass2 {
        right: -17%;
    }
    /* 탭메뉴 보라색 꽃 */
    .tab_menu ul .tab_btn .cont .purple_flower {
        right: -16%;
    }
}


@media screen and (max-width: 480px){
    /* 인트로 양쪽 나뭇잎 */
    .intro .grassOne .oR {
        right: -131%;
    }
    .intro .grassOne .oL {
        left: -130%;
    }

    /* 스킬 바 포지션 */
    .skill .inner .title {
        left: 8%;
    }
    .skill .inner .bar {
        left: 51%;
    }
    /* 탭메뉴 모바일 이미지 */
    .tab_menu ul .tab_btn .cont .moblie img {
        width: 36%;
    }
}

@media screen and (max-width: 400px){
    /* 인트로 타이틀 폰트 */
    .intro .inner .title {
        font-size: 2rem;
    }
    /* 인트로 왼쪽 나뭇잎 */
    .intro .grassOne .oL {
        left: -146%;
    }
    /* 인트로 오른쪽 나뭇잎 */
    .intro .grassOne .oR {
        right: -144%;
    }

    /* 인트로듀스 높이 */
    .introduce {
        height: 1050px;
    }
    /* 인트로듀스 배경 높이 */
    .introduce .inner .back {
        height: 979px;
    }
    /* 인트로듀스 타이틀 */
    .introduce .inner .bg .title {
        font-size: 1.4em;
    }



    /* 스킬 높이 */
    .skill {
        height: 573px;
    }
    /* 스킬 타이틀 */
    
    .skill .inner .title {
        left: 6%;
    }
    .skill .inner .title li {
        font-size: 16px;
    }
    /* 스킬 바 */
    .skill .inner .bar {
        left: 45%;
    }
    .skill .inner .bar li {
        height: 16px;
    }


    /* 탭메뉴 제목 */
    .top_title h2 {
        font-size: 1.1em;
    }
    /* 탭메뉴 라벨 */
    .tab_menu ul .tab_btn label {
        font-size: 1.1em;
        padding: 3.3% 0;
    }
    /* 탭메뉴 이너 높이 */
    .tab_menu ul .tab_btn input:checked ~ .cont {
        height: 100px;
    }
    /* 탭메뉴 바로가기 */
    .tab_menu ul .tab_btn .cont .go_now a {
        font-size: .9em;
        margin: 75% 0 4%;
    }
    /* 탭메뉴 기술 폰트 */
    .tab_menu ul .tab_btn .cont .inner2 span {
        font-size: .5em;
    }
    /* 탭메뉴 벚꽃 이미지 */
    .tab_menu ul .tab_btn .cont .pink_flower img {
        width: 33%;
    }
    .tab_menu ul .tab_btn .cont .pink_flower {
        right: -25%;
    }
    /* 탭메뉴 모든 이미지 */
    .tab_menu ul .tab_btn .cont img {
        width: 28%;
    }
    /* 탭메뉴 양쪽 나뭇잎 이미지 */
    .tab_menu ul .tab_btn .cont .grass2 {
        right: -23%;
    }
    .tab_menu ul .tab_btn .cont .grass1 {
        left: -19%;
    }
    

}

@media screen and (max-width: 390px){
    /* 인트로 양쪽 나뭇잎 이미지 */
    .intro .grassOne .oL {
        left: -159%;
    }
    .intro .grassOne .oR {
        right: -158%;
    }
}
@media screen and (max-width: 375px){
   /* 인트로 양쪽 나뭇잎 이미지 */
   .intro .grassOne .oL {
    left: -159%;
    }
    .intro .grassOne .oR {
        right: -158%;
    }
}
@media screen and (max-width: 365px){
   /* 인트로 양쪽 나뭇잎 이미지 */
   .intro .grassOne .oL {
    left: -167%;
    }
    .intro .grassOne .oR {
        right: -167%;
    }
}

@media screen and (max-width: 350px){
       /* 인트로 양쪽 나뭇잎 이미지 */
   .intro .grassOne .oL {
    left: -173%;
    }
    .intro .grassOne .oR {
        right: -173%;
    }


    /* 탭메뉴 모바일 이미지 */
    .tab_menu ul .tab_btn .cont .moblie img {
        width: 32%;
    }
    /* 탭메뉴 오른쪽 나비 이미지 */
    .tab_menu ul .tab_btn .cont .butterfly1 {
        left: -7%;
    }
    /* 탭메뉴 분홍색 꽃 이미지 */
    .tab_menu ul .tab_btn .cont .pink_flower2 {
        left: -21%;
    }
    /* 탭메뉴 양쪽 나뭇잎 이미지 */
    .tab_menu ul .tab_btn .cont .grass2 {
        right: -25%;
    }
    .tab_menu ul .tab_btn .cont .grass1 {
        left: -23%;
    }
    /* 탭메뉴 보라색 꽃 이미지 */
    .tab_menu ul .tab_btn .cont .purple_flower {
        right: -26%;
    }
}

@media screen and (max-width: 330px){
    /* 인트로 양쪽 나뭇잎 이미지 */
    .intro .grassOne .oL {
    left: -179%;
    }
    .intro .grassOne .oR {
        right: -183%;
    }


}





